@model WebAdminHecsa.Models.TblEmpresaFiscales

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>TblEmpresaFiscales</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreFiscal" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="NombreFiscal" class="form-control" />
                <span asp-validation-for="NombreFiscal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RFC" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="RFC" class="form-control" />
                <span asp-validation-for="RFC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegimenFiscal" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="RegimenFiscal" class="form-control" />
                <span asp-validation-for="RegimenFiscal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calle" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="Calle" class="form-control" />
                <span asp-validation-for="Calle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoPostal" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="CodigoPostal" class="form-control" />
                <span asp-validation-for="CodigoPostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdColonia" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="IdColonia" class="form-control" />
                <span asp-validation-for="IdColonia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colonia" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="Colonia" class="form-control" />
                <span asp-validation-for="Colonia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalidadMunicipio" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="LocalidadMunicipio" class="form-control" />
                <span asp-validation-for="LocalidadMunicipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ciudad" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="Ciudad" class="form-control" />
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEmpresa" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="IdEmpresa" class="form-control" />
                <span asp-validation-for="IdEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreEmpresa" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="NombreEmpresa" class="form-control" />
                <span asp-validation-for="NombreEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstatusRegistro" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="IdEstatusRegistro" class="form-control" />
                <span asp-validation-for="IdEstatusRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input style="text-transform:uppercase" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
