@model WebAdminHecsa.Models.TblCotizacionGeneral

@{
    ViewData["Title"] = "Crear Cotizacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">HECSA</li>
        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Catálogos</li>
        <li class="breadcrumb-item">Cotizacion</li>
        <li class="breadcrumb-item">Control de Cotizacion</li>
        <li class="breadcrumb-item active" aria-current="page">Crear Cotizacion</li>
    </ol>
</nav>
<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">

        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="IdEmpresaFiscales" class="control-label"></label>
                <select id="sLEmpresaFiscalese" class="form-select statesSelect" asp-for="IdEmpresaFiscales" asp-items="@(new SelectList(ViewBag.ListaEfiscales,"IdEmpresaFiscales","NombreFiscal"))" onchange="DatosEmpresaFiscales()">
                    <option value="">SELECCIONAR</option>
                </select>
                <span asp-validation-for="IdEmpresaFiscales" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                <select id="sLCliente" class="form-select statesSelect" asp-for="IdCliente" asp-items="@(new SelectList(ViewBag.ListaCliente,"IdCliente","NombreCliente"))" onchange="DatosClientes()">
                    <option value="">SELECCIONAR</option>
                </select>
                <span asp-validation-for="IdCliente" class="text-danger"></span>
            </div>
        </div>

    </div>

    <div class="row">

        <dt class="col-sm-2">
            <label class="control-label">Datos Empresa Fiscales:</label>
        </dt>
        <dd class="col-sm-10">
            <label id="lNombreFiscal"></label>
        </dd>
    </div>
    <div class="row">

        <dt class="col-sm-2">
            <label class="control-label">Datos Cliente:</label>
        </dt>
        <dd class="col-sm-10">
            <label id="lDatosCliente"></label>
        </dd>
    </div>
</form>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>
       $(document).ready(function () {
           $(".statesSelect").select2();
       });
         function DatosEmpresaFiscales() {

    var fidEmpresasFiscales = document.getElementById("sLEmpresaFiscalese").value;
    var DatosEmpresaFiscales;

       $.ajax({
                        type: "GET",
                        url: "/TblEmpresaFiscales/FiltroEmpresaFiscales/",
                        data: { id: fidEmpresasFiscales },
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function (list) {

                            if (list.length == 0) {

                                document.getElementById("lNombreFiscal").innerHTML = null;

                            }
                            else {

                                DatosEmpresaFiscales = list[0].nombreFiscal + ", " + list[0].rfc + ", " + list[0].regimenFiscal + ", " + list[0].calle + ", " + list[0].codigoPostal + ", " + list[0].colonia + ", " + list[0].ciudad + ", " + list[0].estado + ", " + list[0].correoElectronico + ", " + list[0].telefono;
                                document.getElementById('lNombreFiscal').innerHTML = DatosEmpresaFiscales;
                            }
                        },
                        error: function () {
                            alert("Error!!")
                        }
                    });

                   }
                   function DatosClientes() {



    var fCliente = document.getElementById("sLCliente").value;
    var fDatosCliente;

       $.ajax({
                        type: "GET",
                        url: "/TblClientes/FiltroCliente/",
                        data: { id: fCliente },
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function (list) {

                            if (list.length == 0) {

                                document.getElementById("lDatosCliente").innerHTML = null;

                            }
                            else {

                                DatosCliente = list[0].nombreCliente + ", " + list[0].direccionCliente;
                                document.getElementById('lDatosCliente').innerHTML = DatosCliente;
                            }
                        },
                        error: function () {
                            alert("Error!!")
                        }
                    });

                   }
</script>
}
