@model WebAdminHecsa.Models.CatCodigosPostales

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>CatCodigosPostales</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="d_codigo" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="d_codigo" class="form-control" />
                <span asp-validation-for="d_codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="d_asenta" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="d_asenta" class="form-control" />
                <span asp-validation-for="d_asenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="d_tipo_asenta" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="d_tipo_asenta" class="form-control" />
                <span asp-validation-for="d_tipo_asenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="D_mnpio" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="D_mnpio" class="form-control" />
                <span asp-validation-for="D_mnpio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="d_estado" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="d_estado" class="form-control" />
                <span asp-validation-for="d_estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="d_ciudad" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="d_ciudad" class="form-control" />
                <span asp-validation-for="d_ciudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="d_CP" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="d_CP" class="form-control" />
                <span asp-validation-for="d_CP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="c_estado" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="c_estado" class="form-control" />
                <span asp-validation-for="c_estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="c_oficina" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="c_oficina" class="form-control" />
                <span asp-validation-for="c_oficina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="c_CP" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="c_CP" class="form-control" />
                <span asp-validation-for="c_CP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="c_tipo_asenta" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="c_tipo_asenta" class="form-control" />
                <span asp-validation-for="c_tipo_asenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="c_mnpio" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="c_mnpio" class="form-control" />
                <span asp-validation-for="c_mnpio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_asenta_cpcons" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="id_asenta_cpcons" class="form-control" />
                <span asp-validation-for="id_asenta_cpcons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="d_zona" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="d_zona" class="form-control" />
                <span asp-validation-for="d_zona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="c_cve_ciudad" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="c_cve_ciudad" class="form-control" />
                <span asp-validation-for="c_cve_ciudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input style="text-transform:uppercase" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
