@model WebAdminHecsa.Models.TblProveedor

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>TblProveedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProveedor" />
            <div class="form-group">
                <label asp-for="NombreProveedor" class="control-label"></label>
                <input asp-for="NombreProveedor" class="form-control" />
                <span asp-validation-for="NombreProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RFC" class="control-label"></label>
                <input asp-for="RFC" class="form-control" />
                <span asp-validation-for="RFC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiroComercial" class="control-label"></label>
                <input asp-for="GiroComercial" class="form-control" />
                <span asp-validation-for="GiroComercial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorreoElectronico" class="control-label"></label>
                <input asp-for="CorreoElectronico" class="form-control" />
                <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEmpresa" class="control-label"></label>
                <input asp-for="IdEmpresa" class="form-control" />
                <span asp-validation-for="IdEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreEmpresa" class="control-label"></label>
                <input asp-for="NombreEmpresa" class="form-control" />
                <span asp-validation-for="NombreEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstatusRegistro" class="control-label"></label>
                <input asp-for="IdEstatusRegistro" class="form-control" />
                <span asp-validation-for="IdEstatusRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
